/*Hide Discover button*/
div[class*="listItemWrapper__91816"]:has([aria-label="Discover"]) {
    display: none;
}

/* Hide Nitro gift button */
div[class*="button__74017 button__24af7 noHover__24af7"]{
    display: none;
}

/*Hide App Launcher*/
[class*="channelAppLauncher_"] {
    display: none !important;
}

/* Hide annoying sticker popup window that appears when you type */
.channelTextArea-1FufC0>.container-1ZA19X {
    display: none;
}

/* Removes Activity tab in member list*/
[class*="membersGroup_"][class*="container_"]:nth-of-type(1) {
    display: none !important;
}

[class*="container_"][class*="openOnHover_"] {
    display: none !important;
}

/*Hide Active Now tab in fren list*/
*[class^='nowPlayingColumn'] {
    display: none;
}

/*Hide Nitro (/store) and Shop (/shop) from the direct messages submenu. Quests too now (/quest-home*/
a[href="/store"] {
    display: none;
}

a[href="/shop"] {
    display: none;
}

a[href="/quest-home"] {
    display: none;
}
