/*Hide Discover button*/    
    div[class*="footer_"]:has([aria-label="Discover"]) { display: none; } 

/*Hide App Launcer*/
    [class*="channelAppLauncher_"] { display: none !important; }

/* Hide Nitro gift button */
    button[aria-label="Send a gift"] { display: none; }

/* Hide GIF picker button */
    button[aria-label="Open GIF picker"] { display: none; }

/* Hide sticker picker button */
    button[aria-label="Open sticker picker"] { display: none; }

/* Hide annoying sticker popup window that appears when you type */
    .channelTextArea-1FufC0 > .container-1ZA19X { display: none; }

/* Removes Activity tab in member list*/
    [class*="membersGroup_"][class*="container_"]:nth-of-type(1) { display:none!important; }
    [class*="container_"][class*="openOnHover_"] { display:none!important; }
    [class*="membersGroup_"][class*="container_"]:nth-of-type(1) { display:none!important; }  
    [class*="container_"][class*="openOnHover_"] { display:none!important; }

/*Hide Active Now tab in fren list*/
     *[class^='nowPlayingColumn'] { display: none; }

/*Hide Nitro (/store) and Shop (/shop) from the direct messages submenu*/
    a[href="/store"] { display: none; }
    a[href="/shop"] { display: none; }
